<!DOCTYPE html>
<html lang="en" dir="ltr" class="dark panel">

@* Head *@
@await Html.PartialAsync("Panel/_Head.cshtml")

<body>
    @* Header *@
    @await Html.PartialAsync("Panel/_Header.cshtml")
    @* Main *@
    <main role="main">
        @* Aside *@
        @await Html.PartialAsync("Panel/_Aside.cshtml")
        <section class="p-3">
            @RenderBody()
        </section>
    </main>
    @* Footer *@
    @await Html.PartialAsync("Panel/_Footer.cshtml")
    @* Modals *@
    <div id="black-overlay"></div>
    <div id="module-help">
        <h1 id="module-help-title" class="font-bold mb-4 text-2xl">Users</h1>
        <button id="module-help-close" onclick="LaVie.funcs.toggleModuleHelp()">
            <i class="material-icons">close</i>
        </button>
        <table class="table table-auto border border-collapse mb-4">
            <thead>
                <tr>
                    <th></th>
                    <th>Create</th>
                    <th>Index</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <p id="module-help-description"></p>
    </div>
    @* JS Here *@
    <script src="/js/app.js" type="module" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>