<!DOCTYPE html>
<html lang="en" dir="ltr" class="theme panel">
@* don't mive this script any where else *@
<script>
    const html = document.querySelector('html');
    
    // handle theme
    const theme = window.localStorage.getItem("la-vie-theme");
    if (theme === null) {
        window.localStorage.setItem("la-vie-theme", "light");
    }
    html.classList.replace("theme", theme);
    
    // handle direction
    const direction = window.localStorage.getItem("la-vie-direction");
    if (direction === null) {
        window.localStorage.setItem("la-vie-direction", "ltr");
    }
    html.setAttribute('dir',direction);

    html.style.visibility = "visible";
</script>
@* Head *@
@await Html.PartialAsync("Panel/_Head.cshtml")

<body>
    @* Header *@
    @await Html.PartialAsync("Panel/_Header.cshtml")
    @* Main *@
    <main role="main">
        @* Aside *@
        @await Html.PartialAsync("Panel/_Aside.cshtml")
        <article>
            @RenderBody()
        </article>
    </main>
    <div class="absolute end-0 -bottom-0 z-[-1] rtl:rotate-180 origin-center">
        @await Html.PartialAsync("Graphics/SectionArt.cshtml")
    </div>
    @* Footer *@
    @await Html.PartialAsync("Panel/_Footer.cshtml")
    @* Modals *@
    <div id="black-overlay"></div>
    @await Html.PartialAsync("Panel/_Help.cshtml")
    @* JS Here *@
    <script src="/js/app.js" type="module" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>