<!DOCTYPE html>
<html lang="en" dir="ltr" class="dark panel">

@* Head *@
@await Html.PartialAsync("Panel/_Head.cshtml")

<body>
    @* Header *@
    @await Html.PartialAsync("Panel/_Header.cshtml")
    @* Main *@
    <main role="main">
        @* Aside *@
        @await Html.PartialAsync("Panel/_Aside.cshtml")
        <section>
            @RenderBody()
        </section>
    </main>


    <div class="absolute end-0 -bottom-0 z-[-1]">
        <svg width="600" height="200" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="4">
            <defs>
                <linearGradient id="grad1">
                    <stop offset="0%" stop-color="transparent" />
                    <stop offset="90%" stop-color="var(--theme-color-primary)" />
                </linearGradient>
                <linearGradient id="grad2">
                    <stop offset="0%" stop-color="transparent" />
                    <stop offset="80%" stop-color="var(--theme-color-danger)" />
                </linearGradient>
                <linearGradient id="grad3">
                    <stop offset="0%" stop-color="transparent" />
                    <stop offset="70%" stop-color="var(--theme-color-success)" />
                </linearGradient>

            </defs>

            <path stroke="url(#grad1)" d="
      M0 100 
      C100 20, 200 180, 300 100
      S500 20, 600 100
    " />

            <path stroke="url(#grad2)" d="
      M0 130
      C150 50, 250 150, 350 80
      S550 120, 600 130
    " />

            <path stroke="url(#grad3)" d="
      M0 70
      C80 120, 180 30, 280 90
      S480 60, 600 70
    " />
        </svg>
    </div>

    @* Footer *@
    @await Html.PartialAsync("Panel/_Footer.cshtml")
    @* Modals *@
    <div id="black-overlay"></div>
    <div id="module-help">
        <h1 id="module-help-title" class="font-bold mb-4 text-2xl">Users</h1>
        <button id="module-help-close" onclick="LaVie.funcs.toggleModuleHelp()">
            <i class="material-icons">close</i>
        </button>
        <table class="table table-auto border border-collapse mb-4">
            <thead>
                <tr>
                    <th></th>
                    <th>Create</th>
                    <th>Index</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <p id="module-help-description"></p>
    </div>
    @* JS Here *@
    <script src="/js/app.js" type="module" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>