@model LaVie.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<main class="h-screen flex items-center bg-gray-100">
    <div class="row">
        <div class="col-span-6 fc">
            <div class="p-4 border border-gray-300 bg-gray-50 rounded w-320 max-w-320">
                
                <div class="flex justify-between mb-4">
                    <h1 class="font-bold text-gray-500">Register</h1>
                    <a href="@Context.Request.Headers["Referer"]" class="flex items-center text-gray-500">
                        <i class="material-icons">keyboard_arrow_left</i>
                        <small>Back</small>
                    </a>
                </div>
                
                <form class="form" asp-action="Register" method="POST">
                    <div class="mb-8">
                        <fieldset>
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" required autofocus />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </fieldset>
                        <fieldset>
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" required />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </fieldset>
                        <fieldset>
                            <label asp-for="Email"></label>
                            <input type="email" asp-for="Email" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </fieldset>
                        <fieldset>
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" required minlength="8" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </fieldset>
                        <fieldset>
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" asp-for="ConfirmPassword" required minlength="8" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </fieldset> 
                    </div>
                    <div>
                        <button class="btn upd w-full" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-span-6 hidden md:flex md:items-center md:justify-center" >
            <img width="75%" src="/images/sign-up.png" draggable="false" class="user-select-none" /> 
        </div>
    <div>
</main>