@model List<LaVie.Models.Tag>
@{
    ViewData["Title"] = "Tags";
}

<section class="page-bar">
    @await Html.PartialAsync("Components/_Breadcrumbs")
    @await Html.PartialAsync("Components/_CreateButton", "Tag")
</section>

<section class="page-content">

    @if (Model.Count > 0)
    {
        <div class="table-container">
            <table class="table striped">
                <thead>
                    <th>
                        <div class="checkbox">
                                <input type="checkbox" />
                                <i class="material-icons">check</i>
                            </div>
                    </th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Products</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    @foreach (var tag in Model)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                <input type="checkbox" />
                                <i class="material-icons">check</i>
                            </div>
                            </td>
                            <td>@tag.Id</td>
                            <td>@tag.Name</td>
                            <td>@tag.Description</td>
                            <td>
                                <span class="badge primary">@tag.ProductTags?.Count</span>
                            </td>
                            <td>
                                <div class="actions">
                                    @await Html.PartialAsync("Components/_UpdateButton", new UpdateButtonStruct("Tag", tag.Id))
                                    @await Html.PartialAsync("Components/_DeleteButton", new DeleteButtonStruct("Tag", tag.Id))
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert">
            <i class="material-icons">warning</i>
            <p>No tag defined yet!</p>
        </div>
    }
</section>