span.badge {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 24px;
    height: 24px;
    max-height: 24px;
    color: var(--theme-text-light);
    user-select: none;
    &.primary {
        background: var(--theme-color-primary);
    }
    &.secondary {
        background: var(--theme-color-secondary);
    }
}