.permission {
  cursor: grab;
  &:hover {
    background: color-mix(in srgb, white 25%, var(--theme-color-info) 75%);
  }
}

.permission-base {
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  max-height: 24px;
  color: var(--theme-text-light);
  user-select: none;
  background: var(--theme-color-info);
  transition: background 0.1s ease;
}

.role-permission {
  cursor: pointer;
  &:hover {
    background: var(--theme-color-danger);
  }
}
