small.tooltip {
  transition: transform 0.2s;
  color: var(--gray-200);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  position: absolute;
  transform: scale(0);
  background: var(--gray-700);
  white-space: nowrap;
  z-index: 1;
}

.tooltip-activator:hover {
  position: relative;
  small.tooltip {
    transform: scale(1);
  }
}