div.alert {
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--theme-alert-background);
  transition: background-color 0.3s ease;
  color: var(--theme-input-color);
  p {
    margin-block: 0;
  }
}
