aside {
  background: linear-gradient(120deg, 
  var(--theme-aside-background) 25%, 
  var(--theme-header-background) 75%
  );
  transition: margin-inline-start 0.5s ease, color 0.5s ease;
  position: relative;
  overflow: hidden;
  color: var(--theme-text-light);
  user-select: none;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 8px;
    padding: 0 !important;
    margin: 0 !important;
    margin-inline-start: 36px;
    li {
      position: relative;
      &.active {
        & span.triangle {
          display: block;
        }
      }
      span.triangle {
        rotate: 180deg;
        position: absolute;
        top: 50%;
        transform: translateY(50%) scaleX(0.75);
        font-size: 1.5rem;
        transition: color 0.3s ease;
        color: var(--theme-section-background);
        inset-inline-end: -16px;
        display: none;
      }
      a,
      .submenu-title {
        padding: 0.5rem 0;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        cursor: pointer;
        transition: padding-inline-start 0.3s ease;
        padding-inline-start: 8px;
        overflow: hidden;
        position: relative;
        &:hover {
          padding-inline-start: 1rem;
        }
        &:focus {
          outline: none !important;
          padding-inline-start: 1rem;
        }
        &:active {
          & > div.click-wave {
            animation: click-effect 0.3s ease;
          }
        }
        i.arrow-down {
          margin-inline-start: auto;
          margin-inline-end: 0.5rem;
          transition: rotate 0.5s ease;
        }

      }
      ul.submenu-items {
        max-height: 0;
        transition: max-height 1s ease-in-out;
        overflow: hidden;
        margin-inline-start: 28px !important;
      }
    }
  }
}

.aside-small {
  grid-template-columns: 56px 1fr !important;
}

i#aside-toggle-mobile {
  color: #f3f4f6;
  margin-inline-end: 0.5rem;
  cursor: pointer;
}