/* Blue */
.bg-blue-500 {
  background: var(--blue-500);
}
.bg-blue-600 {
  background: var(--blue-600);
}
.bg-blue-800 {
  background: var(--blue-800);
}

.bg-red-800 {
  background: var(--red-800);
}

/* gray */
.bg-gray-50 {
  background: var(--gray-50);
}

.bg-gray-100 {
  background: var(--gray-100);
}

.bg-gray-200 {
  background: var(--gray-200);
}

.bg-gray-300 {
  background: var(--gray-300);
}

.bg-gray-400 {
  background: var(--gray-400);
}

.bg-gray-500 {
  background: var(--gray-500);
}

.bg-gray-600 {
  background: var(--gray-600);
}

.bg-gray-700 {
  background: var(--gray-700);
}

.bg-gray-800 {
  background-color: var(--gray-800);
}

.bg-teal-700 {
  background: #00786f;
}

.bg-black {
  background-color: black;
}

.bg-blue {
  background: blue;
}

.bg-gradient-blue-transparent {
  background: linear-gradient(90deg, var(--blue-500), transparent 50%);
}