.btn {
  padding: 6px 8px;
  min-height: 36px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: none;
  color: var(--gray-100);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 var(--global-shadow-blur) var(--global-shadow-color);
  span,
  i {
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
  &:active {
    div.click-wave {
      animation: click-effect 0.3s ease;
    }
  }
  &:hover {
    filter: brightness(125%);
  }
  &.add {
    background-color: var(--theme-color-success);
    &:focus {
      box-shadow: 0 0 0px 4px
        color-mix(in srgb, var(--theme-color-success) 80%, white 40%);
    }
  }
  &.upd {
    background-color: var(--theme-color-primary);
    &:focus {
      box-shadow: 0 0 0px 4px
        color-mix(in srgb, var(--theme-color-primary) 80%, white 40%);
    }
  }
  &.del {
    background-color: var(--theme-color-danger);
    &:focus {
      box-shadow: 0 0 0px 4px
        color-mix(in srgb, var(--theme-color-danger) 80%, white 40%);
    }
  }
  &.back {
    background-color: var(--theme-color-secondary);
    &:focus {
      box-shadow: 0 0 0px 4px
        color-mix(in srgb, var(--theme-color-secondary) 80%, white 40%);
    }
  }
}
