div.la-vie-dropdown {
  scale: 0;
  position: absolute;
  background: var(--theme-dropdown-background);
  box-shadow: 0 4px 12px 0px color-mix(in srgb, var(--theme-dropdown-shadow-color) 24%, transparent 75%);
  z-index: 2;
  border-radius: 0.25rem;
  overflow: hidden;
  opacity: 0;
  transition: scale 0.3s ease, opacity 0.3s ease;
  width: auto;
  padding: 0.75rem;
  top: 125%;
}
