div.la-vie-dropdown {
  scale: 0;
  position: absolute;
  background: var(--theme-dropdown-background);
  box-shadow: 0 0 var(--global-shadow-blur) var(--global-shadow-color);
  z-index: 2;
  border-radius: 0.25rem;
  overflow: hidden;
  opacity: 0;
  transition: scale 0.3s ease, opacity 0.3s ease;
  width: auto;
  padding: 0.75rem;
  top: 125%;
}
