.grid {
    display: grid;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.col-6 {
  grid-column: span 6;
}
.col-12 {
  grid-column: span 12;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}