header {
  color: var(--theme-text-light);
  background: var(--theme-header-background);
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  padding-inline-start: 1rem;
  user-select: none;
  div {
    margin-inline-end: 0.5rem;
    img#profile-image {
      height: 36px;
      border-radius: 50%;
      aspect-ratio: 1;
      width: auto;
      transition: filter 0.3s ease;
      cursor: pointer;
      &:hover {
        filter: sepia(1);
      }
    }
  }

}
