html.panel {
  visibility: hidden;
  background: var(--theme-section-background);
  transition: background 0.3s ease;
  body {
    height:100vh;
    max-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 48px 1fr 36px;
    position: relative;
    main {
      display: grid;
      grid-template-columns: 196px 1fr;
      transition: grid-template-columns 0.5s ease;
      max-height: 100vh;
      overflow-y: hidden;
      article {
        overflow-y: auto;
      }
    }
    footer {
      background-color: var(--theme-footer-background);
      color: var(--theme-text-light);
      font-size: small;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background 0.3s ease;
    }
    div#module-help {
      z-index: 7;
      position: fixed;
      height: 100vh;
      inset-inline-end: -420px;
      transition: inset-inline-end 0.5s ease;
      background: var(--theme-module-help-background);
      color: var(--theme-input-color);
      width: 100%;
      max-width: 420px;
      padding: 1rem;
      
      button#module-help-close {
        position: absolute;
        color: var(--gray-100);
        top: 0;
        inset-inline-end: 0;
        background-color: var(--theme-color-danger);
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        padding: 0.5rem;
        cursor: pointer;
      }
    }
    div#black-overlay {
      height: 100vh;
      width: 100vw;
      cursor: pointer !important;
      background: rgba(0, 0, 0, 0.65);
      z-index: 6;
      position: absolute;
      transition: opacity 0.3s ease;
      display: none;
      opacity: 0;
      backdrop-filter: blur(0.1rem);
    }
  }
}
