.p-3 {
  padding: 1rem;
}

.ps-3 {
  padding-inline-start: 1rem;
}
.px-2 {
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}
.py-1 {
  padding-block-start: 0.25rem;
  padding-block-end: 0.25rem;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 1rem;
}

.p-2 {
  padding: 0.25rem;
}