/* global */
:root {
  --global-shadow-color: color-mix(in srgb, var(--color-gray-500) 50%, transparent 50%);
  --global-shadow-blur: 8px;
}

/* light */
:root.light {
  /* layout */
  --theme-header-background: var(--blue-800);
  --theme-aside-background: var(--blue-600);
  --theme-section-background: var(--gray-100);
  --theme-footer-background: var(--gray-800);
  --theme-module-help-background: var(--gray-200);
  /* text */
  --theme-text-light: var(--gray-100);
  --theme-text-dark: var(--gray-700);
  --theme-text-adaptable: var(--gray-600);
  /* inputs */
  --theme-input-background: var(--gray-200);
  --theme-input-color: var(--gray-500);
  --theme-input-shadow-color: var(--blue-200);
  --theme-input-label-color: var(--gray-600);
  --theme-input-border-color: var(--gray-300);
  /* tables */
  --theme-table-row-even: var(--gray-200);
  --theme-table-row-odd: var(--gray-300);
  --theme-table-thead: var(--gray-400);
  --theme-table-td-text: var(--gray-500);
  /* alert */
  --theme-alert-background: var(--gray-200);
  /* semantic colors */
  --theme-color-primary: var(--blue-500);
  --theme-color-secondary: var(--gray-500);
  --theme-color-danger: var(--red-500);
  --theme-color-success: var(--green-500);
  --theme-color-warning: var(--orange-500);
  --theme-color-info: var(--cyan-500);
  --theme-color-contrast: var(--gray-800);
  /* dropdown */
  --theme-dropdown-background: var(--gray-100);
  --theme-dropdown-shadow-color: var(--gray-900);
}

/* dark */
:root.dark {
  /* layout */
  --theme-header-background: var(--blue-950);
  --theme-aside-background: var(--blue-900);
  --theme-section-background: var(--gray-900);
  --theme-footer-background: var(--gray-950);
  --theme-module-help-background: var(--gray-800);
  /* text */
  --theme-text-light: var(--gray-300);
  --theme-text-dark: var(--gray-900);
  --theme-text-adaptable: var(--gray-200);
  /* inputs */
  --theme-input-background: var(--gray-800);
  --theme-input-color: var(--gray-400);
  --theme-input-shadow-color: var(--blue-950);
  --theme-input-label-color: var(--gray-400);
  --theme-input-border-color: var(--gray-700);
  /* tables */
  --theme-table-row-even: var(--gray-600);
  --theme-table-row-odd: var(--gray-700);
  --theme-table-thead: var(--gray-800);
  --theme-table-td-text: var(--gray-400);
  /* alert */
  --theme-alert-background: var(--gray-800);
  /* semantic colors */
  --theme-color-primary: var(--blue-900);
  --theme-color-secondary: var(--gray-900);
  --theme-color-danger: var(--red-900);
  --theme-color-success: var(--green-900);
  --theme-color-warning: var(--orange-900);
  --theme-color-info: var(--cyan-900);
  --theme-color-contrast: var(--gray-200);
  /* dropdown */
  --theme-dropdown-background: var(--gray-800);
  --theme-dropdown-shadow-color: var(--gray-100);
}

