@model string;
<a class="btn add" asp-controller="@Model" asp-action="Create">
    <i class="material-icons">add</i>
    <span class="hidden md:block">@Model</span>
    <div class="click-wave"></div>
</a>