@model DeleteButtonStruct
@using LaVie.Structs

@if (User.HasClaim(c => c.Value == Model.Permission))
{
    <a class="btn del" asp-controller="@Model.Controller" asp-action="Delete" asp-route-id="@Model.Id">
        <i class="material-icons">delete</i>
    </a>
}