@model SampleProject.Models.Product;
@{
  string mode = ViewBag.ViewMode.ToString() == "UPDATE" ? "Update" : "Create";
  ViewData["Title"] = mode + " a new product";
}

<div class="flex justify-between items-center mb-3">
  @await Html.PartialAsync("Components/_Breadcrumbs")
  @await Html.PartialAsync("Components/_BackButton")
</div>

<form class="form" asp-action="@mode" method="POST">
  
    <fieldset>
      <label asp-for="Name" required>Name</label>
      <input asp-for="Name"  required />
      <span class="error" asp-validation-for="Name"></span>
    </fieldset>
    <fieldset>
      <label asp-for="Price">Price</label>
      <input type="number" min="0" asp-for="Price" />
      <span class="error" asp-validation-for="Price"></span>
    </fieldset>
    <fieldset>
      <label asp-for="CategoryId">Category</label>
      <select asp-for="CategoryId" required>
        <option value="">Select a category</option>
        @foreach (var category in ViewBag.Categories)
        {
          <option value="@category.Id">@category.Title</option>
        }
      </select>
      <span class="error" asp-validation-for="Category"></span>
    </fieldset>
    @await Html.PartialAsync("Components/_TagSelector", (Dictionary<string, string>) ViewBag.Tags)
  <div class="flex justify-end mt-4">
    @await Html.PartialAsync("Components/_SubmitButton")
  </div>
</form>
