@using LaVie.Extras.Structs
@{
    ViewData["Title"] = "Home Page";
    var cards = new List<HomeCardStruct>
{
new HomeCardStruct(
"Messages",
"Sina, Saeed, Sepehr, ...",
"message",
"info",
79
),
new HomeCardStruct(
"Tasks",
"Article, Book, ...",
"check_circle",
"primary",
9
),
new HomeCardStruct(
"Events",
"Sina, Saeed, Sepehr, ...",
"event",
"gray",
43
),
new HomeCardStruct(
"Notes",
"Sina, Saeed, Sepehr, ...",
"notes",
"danger",
12
)
};
}

<section class="page-content">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        @foreach (var card in cards)
        {
            <div class="card card-@card.Class">
                <strong>@card.Count</strong>
                <b>@card.Title</b>
                <p>@card.Message</p>
                <i class="material-icons">@card.Icon</i>
                <div class="click-wave"></div>
            </div>
        }
    </div>
    <div class="mt-4 flex gap-2 flex-wrap">
        <button class="btn upd" onclick="LaVie.funcs.toggleConfirm('Are you sure?',() => console.log('Bonjour'))">Open
            confirm</button>


        <button class="btn add"
            onclick="LaVie.funcs.addNotification('success', 'Done!', 'Task Successfully done.')">Success
            Notification</button>
        <button class="btn del" onclick="LaVie.funcs.addNotification('error', 'Error!', 'Something went wrong!')">Error
            Notification</button>

        <button class="btn back"
            onclick="LaVie.funcs.addNotification('warning', 'Warning!', 'Keep watching the clock.')">Warning
            Notification</button>

        <button class="btn upd"
            onclick="LaVie.funcs.addNotification('info', 'Info!', 'La vie mean the life in french.')">Info
            Notification</button>


    </div>

</section>
