@using Microsoft.AspNetCore.Identity
@model List<IdentityRole<int>>
@{
    ViewData["Title"] = "Roles";
}

<section class="page-bar">
    @await Html.PartialAsync("Components/_Breadcrumbs")
    @await Html.PartialAsync("Components/_HelpButton")
</section>


<section class="page-content">


@if (Model.Count > 0)
{
    <div class="table-container">
        <table class="table striped">
            <thead>
                <th>#</th>
                <th>Title</th>
                <th>Permissions</th>
                <th>Users</th>
                <th>Actions</th>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].Name</td>
                        <td><span class="badge primary">@ViewBag.Counts[@Model[i].Name]["permissions"]</span></td>
                        <td><span class="badge primary">@ViewBag.Counts[@Model[i].Name]["users"]</span></td>
                        <td>
                            <div class="actions">
                                @await Html.PartialAsync("Components/_UpdateButton", new UpdateButtonStruct("Role",
                                Model[i].Id))
                            </div>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>
}
else
{
    <div class="alert">
        <i class="material-icons">warning</i>
        <p>No role defined yet!</p>
    </div>
}
</section>

@section Scripts {
    <script>
        window.setTimeout(() => {
            window.LaVie.funcs.injectModuleHelpData({
                title: "Roles",
                permissions: {
                    "Admin": {
                        "Create": false,
                        "Index": true,
                        "Update": true,
                        "Delete": false,
                    },
                    "Manager": false,
                    "Client": false
                },
                description: `Roles are assigned to users.
                    The creation or deletion of roles is not permitted.
                    You may only modify role assignments to users or 
                    adjust the permissions associated with each role.`
            });
        }, 1000);
    </script>
}