<div id="la-vie-confirm-modal">
    <i class="material-icons">question_mark</i>
    <p class="message"></p>
    <div class="buttons">
        <button class="btn back no" onclick="LaVie.funcs.toggleConfirm(null)">No</button>
        <button class="btn del yes">Yes</button>
    </div>
</div>