<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* Title *@
    <title>@ViewData["Title"] - LaVie</title>
    @* CSS Here *@
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaVie.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/minified-tailwind.css" asp-append-version="true" />
    @* Favicon *@
    <link rel="icon" href="~/favicon.svg" type="image/svg">
</head>