<header class="box-shadow">
    @* left section *@
    <i onclick="toggleAsideMobile()" id="aside-toggle-mobile" class="material-icons">dehaze</i>
    <div class="flex gap-2 items-center">
        <i class="material-icons text-teal-500">star</i>
        <a class="font-bold" asp-controller="Home" asp-action="Index">
            LA VIE
        </a>
    </div>
    @* right section *@
    <div class="ms-auto flex flex-row gap-2 items-center">
        <span class="hidden md:flex cursor-pointer" onclick="toggleTheme(this)">
            <i class="material-icons">dark_mode</i>
        </span>
        <span class="hidden md:flex cursor-pointer" onclick="toggleDirection(this)">
            <i class="material-icons">format_textdirection_r_to_l</i>
        </span>
        <div class="flex flex-col m-auto justify-center">
            <span class="font-bold">@ViewBag.ActiveUser.FullName</span>
            <span class="text-right text-xs">@ViewBag.ActiveUser.Email</span>
        </div>
        <div class="relative" onclick="this.children[1].classList.toggle('scale-100')">
            <img id="profile-image" src="/images/profile.jpeg" draggable="false" />
            <div class="scale-0 absolute bg-white shadow-xl shadow-gray-600 -start-[300%] z-2 rounded overflow-hidden transition-transform origin-top w-auto">
                <div class="p-3 m-0!">
                    <form asp-controller="Account" asp-action="Logout" method="POST">
                        <button type="submit" class="btn del me-0">
                            <i class="material-icons">logout</i>
                            <span>Logout</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>