<div id="module-help">
    <h1 id="module-help-title" class="font-bold mb-4 text-2xl"></h1>
    <button id="module-help-close" onclick="LaVie.funcs.toggleModuleHelp()">
        <i class="material-icons">close</i>
    </button>
    <div class="table-container mb-4">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Create</th>
                    <th>Index</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <h2 class="font-bold text-xl mb-2">Description</h2>
    <p id="module-help-description"></p>
</div>