@model List<LaVie.Models.Permission>
@{
    ViewData["Title"] = "Permissions";
}

<section class="page-bar">
    @await Html.PartialAsync("Components/_Breadcrumbs")
    @await Html.PartialAsync("Components/_HelpButton")
</section>

<section class="page-content">
    @if (Model.Count > 0)
    {
        <div class="table-container">
            <table class="table striped">
                <thead>
                    <th>#</th>
                    <th>Module</th>
                    <th>Action</th>
                    <th>Role</th>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@((ViewBag.Page - 1) * 10 + i + 1)</td>
                            <td>@Model[i].Title.Split('_')[0].ToLower()</td>
                            <td>@Model[i].Title.Split('_')[1].ToLower()</td>
                            <td>@Model[i].Role</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100%">
                            @await Html.PartialAsync("Components/_Pagination", "Permission")
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <div class="alert">
            <i class="material-icons">warning</i>
            <p>No permission defined yet!</p>
        </div>
    }
</section>

@section Scripts {
    <script>
        window.setTimeout(() => {
            window.LaVie.funcs.injectModuleHelpData({
                title: "Permissions",
                permissions: {
                    "Admin": {
                        "Create": false,
                        "Index": true,
                        "Update": false,
                        "Delete": false,
                    },
                    "Manager": false,
                    "Client": false
                },
                description: `Permissions are assigned to roles.
                        The creation, deletion, or modification of permissions 
                        is not permitted. You may only modify the role assignments 
                        to which the permissions are associated.`
            });
        }, 1000)
    </script>
}